<% v = local_assigns[:v] || false %>

<div>
  <div class="box" v-for="<%= 'story in stories' if v  %>">
    <article>
      <div class="content">
        <h3 class="hn-story-title subtitle is-6" v-html="<%= 'story.title' if v %>">
          <% vhref = v ? { ":href" => "story.url" } : {}  %>
          <%= link_to story.url, {  target: '_blank' }.merge(vhref) do %>
            <%= story.title %>
          <% end %>
          </a>
        </h3>
        <small>
          <%= t('.by') %>
          <span>
            <%= story.by %>
          </span>
          <%= t('.at') %>
          <span v-html="<%= 'story.time' if v %>">
            <%= story.time %>
          </span>
        </small>
        <br>
        <br>

        <% unless v %>
          <strong v-html="<%= 'story.comments_count' if v %>">
            <%= story.comments_count %>
          </strong>
          <br>
          <%= link_to story.comments_url, class: 'hn-story-comment-link',  "data-turbolinks" => false do %>
            &#9656; <%= t('.show_relevant_comments') %>
          <% end %>
        <% end %>

        <section class="hn-story-comments-section content">
          <% story.most_relevant_comments.each do |comment| %>
            <small class="hn-story-comment-author">
              <%= t('.by') %>
              <span><%= comment.by %></span>
              <%= t('.at') %>
              <span><%= l Time.at(comment.time) %></span>
            </small>

            <p><%= raw comment.text %></p>
          <% end %>
        </section>
      </div>
    </article>
  </div>
</div>
