<!DOCTYPE html>
<html>
  <head>
    <title>Hack News Stories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-navbar-fixed-top" data-environment="<%= Rails.env %>">
    <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" target="_blank" href="https://news.ycombinator.com/">
          <img src="hn-icon.svg">
          <h1 class="title is-5 hns-title">Hacker News</h1>
        </a>
      </div>
    </nav>

    <section data-behavior="vue">
      <%= yield %>
    </section>
  </body>
</html>
